<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Server Settings -->
		<!-- TCP Port on which the server will run -->
		<add key="ServerPort" value="65525"/>

		
		<!-- Performance Settings -->
		<!-- The Response time thread manager should aim for when assigning threads -->
		<!-- New Clients are less likely to be assigned to threads with higher than this response time -->
		<!-- If Thread finishes work early it will wait to reach this value in order to decrease unnecessary computing time -->
		<add key="MinimumTargetResponseTime" value ="25"/>
		
		<!-- Maximum response time the Thread Manager should aim for -->
		<!-- If average or last response time on thread exceeds this value new clients won't be assigned to it until it drops below again -->
		<add key="MaximumTargetResponseTime" value ="100"/>
		
		<!-- Thread Count for handling clients, leave at 0 for default value (number of cores on your system) -->
		<add key="ThreadCount" value="1"/>
		
		<!-- Maximum clients on the server, connections over this value will be ignored -->
		<!-- To not limit the client count set enforcion strictness to 0 -->
		<add key="MaximumClientCount" value="40"/>
		
		<!-- Strictness of enforcing the maximum client count -->
		<!-- 0 (NONE) - Not enforced -->
		<!-- 1 (LIGHT) - Only enforced if all threads are above their minimum target response time -->
		<!-- 2 (STRICT) - Client is kicked with a message (NYI)-->
		<!-- 3 (MAXIMUM) - Connection is inmediately closed to save performance -->
		<add key="MaximumClientCountEnforceLevel" value ="0"/>
		
		
		<!-- Logging Settings -->
		<!-- Enable Logging into File ? -->
		<add key="LoggingEnabled" value="true"/>
		
		<!-- Directory for Logs (Logs by default). Enter the directory name without separators -->
		<add key="LoggingDirectory" value="Logs"/>
		
		<!-- Logging Levels : 0 (DEBUG), 1 (INFO), 2 (WARN), 3 (ERROR) , 4 (FATAL) -->
		<!-- You can enter both numbers or log level as a string-->
		<!-- Logging Level for Console -->
		<add key="ConsoleLogLevel" value="NET_DEBUG"/>
		<!-- Logging Level for File-->
		<add key="LogFileLogLevel" value="INFO"/>
	</appSettings>
</configuration>